<h1>Usuários Cadastrados</h1>

<table border="1">
    <tr> <!-- table row -->
        <th>Id</th> <!-- table head -->
        <th>Nickname</th>
        <th>Nome</th>
    </tr>
    {{#each usuarios}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {{/each}}
</table>